{#{% block content %}#}
{#  <h2>Course Form</h2>#}
{#  <form method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    <table>#}
{#      {{ form.as_table }}#}
{#    </table>#}
{#    <button type="submit">Save</button>#}
{#    <a href="{% url 'course_changelist' %}">Nevermind</a>#}
{#  </form>#}
{#{% endblock %}#}

{#{% extends 'base.html' %}#}

{% block content %}

  <h2>Course Form</h2>

  <form method="post" id="courseForm" data-faculties-url="{% url 'documents:ajax_load_faculties' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_university").change(function () {
      var url = $("#courseForm").attr("data-faculties-url");  // get the url of the `load_cities` view
      var universityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'university': universityId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_faculty").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}